This notebook takes in a list of matrices as inputs and generates the dat files needed by NCMF. This also involves sampling the target matrix for creation of train and test files as well.

Input given to this notebook:
1. List of matrices
2. Matrix being used by the link prediction task - this will be divided into train and test sets, with the embeddings being learnt from the train set; link prediction is done by a classifier trained on the train dataset and tested on the test set generated. The matrices must be saved as csv files.
3. entity.csv containing all the entity names in the order E0, E1, ... as they appear in the matrices. If a particular node type can be of differing labels(eg: node type is disease, node label is Asthma), this info must be present in a column called "Entity labels" in this csv. If this column is absent, node_label and node_type are considered to be the same.

Output from notebook:
1. sampled#_node.dat
2. sampled#_link.dat
3. sampled#_link.dat.test
4. sampled#_label.dat
5. sampled#_label.dat.test
6. sampled#_meta.dat
7. sampled#_info.dat

This notebook uses the drug-drug, drug-protein and protein-protein interaction matrices of the Polypharmacy experiments to get train-test splits, with test data being from drug-protein interaction matrix.

#### User inputs (Values to be modified as per the dataset)

In [1]:
# Fill out the following values as per the dataset
sample_id = 3 # update sample ID number
data_folder = "../../datasets/NCMF/CellLine/" # path to the folder with the matrices
all_matrices = ["mutations_oncokb.csv", "cnv_oncokb.csv", "gene_expression_oncokb.csv", "audrc_binary.csv"] # provide a comma separated list of file names; each matrix must be mapped to a separate file
entity_mapping = {'X0': ['E0', 'E1'],
                 'X1': ['E0', 'E1'],
                 'X2': ['E0', 'E1'],
                 'X3': ['E0', 'E2']}
entity_name_mapping = {'E0': "cell_line", "E1": "gene", "E2": "drug"} # Modify this as per the dataset for all entities
target_matrix_index = 3 # Set this to match the index of the matrix file as per the list all_matrices; this matrix is divided into train and test
rng = 42 # random number seed; edit this to create different samples

#### Output files generated

In [2]:
# Output files
sampled_node_file = data_folder + f'sampled{sample_id}_node.dat'
sampled_link_file = data_folder + f'sampled{sample_id}_link.dat'
sampled_link_test_file = data_folder + f'sampled{sample_id}_link.dat.test'
sampled_label_file = data_folder + f'sampled{sample_id}_label.dat'
sampled_label_test_file = data_folder + f'sampled{sample_id}_label.dat.test'
sampled_meta_file = data_folder + f'sampled{sample_id}_meta.dat'
sampled_info_file = data_folder + f'sampled{sample_id}_info.dat'

#### Data Processing
The following steps are carried out in the section below:
1. Find number of entities in all the matrices and assign unique IDs to each entity
2. Flatten the matrix into a list of triplets
3. From the target_matrix, sample 20% for use as test data
4. Create node.dat, link.dat, link.dat.test, label.dat, label.dat.test, meta.dat for the dataset

In [3]:
import pandas as pd
import numpy as np
import random
random.seed(rng)

In [4]:
for i in range(len(all_matrices)):
    exec(f"X{i} = pd.read_csv(data_folder + all_matrices[i], index_col = 0).to_numpy()")
# This block assigns each of the matrices to variables X0, X1, X2,...

In [5]:
for i in range(len(all_matrices)):
    print(f"Shape of X{i}", end = " ")
    exec(f"print(X{i}.shape)")

Shape of X0 (692, 638)
Shape of X1 (692, 638)
Shape of X2 (692, 638)
Shape of X3 (692, 396)

In [6]:
# Get entity IDs - uses matrix_entity_similarity to get total number of unique entries
total_entities = 0
matrices_seen = []
for k,v in entity_mapping.items():
    if v[0] not in matrices_seen:
        matrices_seen.append(v[0])
        total_entities += eval(f"{k}.shape[0]")
        exec(f"{v[0]}_size = {k}.shape[0]")
    if v[1] not in matrices_seen:
        matrices_seen.append(v[1])
        total_entities += eval(f"{k}.shape[1]")
        exec(f"{v[1]}_size = {k}.shape[1]")
print(total_entities)

1726

In [7]:
print(E0_size)

692

In [8]:
full_df = pd.DataFrame(columns = ["left", "right", "value", "link_type"])

In [9]:
for k,v in entity_mapping.items(): # iterate over all matrices
    print(f"Considering {k}")
    link_type = int(k[1:])
    total_left_ents_so_far = 0
    for m in matrices_seen:
        if v[0] == m:
            break
        else:
            total_left_ents_so_far += eval(f"{m}_size")
    
    total_right_ents_so_far = 0
    for m in matrices_seen:
        if v[1] == m:
            break
        else:
            total_right_ents_so_far += eval(f"{m}_size")
            
#     for i in range(eval(f"{v[0]}_size")):
#         for j in range(eval(f"{v[1]}_size")):
#             left_id = i + total_left_ents_so_far
#             right_id = j + total_right_ents_so_far
#             value = eval(f"{k}[i][j]")
#             print(f"left = {left_id}, right = {right_id}, value = {value}")
#             full_df = full_df.append({"left": left_id, "right": right_id, "value": value, "link_type": link_type}, ignore_index = True)
    temp_df = pd.DataFrame(columns = ["left", "right", "value", "link_type"])
    temp_df["left"] = sorted(list(range(total_left_ents_so_far, total_left_ents_so_far + eval(f"{v[0]}_size"))) * eval(f"{v[1]}_size"))
    temp_df["right"] = list(range(total_right_ents_so_far, total_right_ents_so_far + eval(f"{v[1]}_size"))) * eval(f"{v[0]}_size")
    temp_df["value"] = eval(f"{k}").flatten()
    temp_df["link_type"] = [link_type] * len(temp_df["left"])
    full_df = pd.concat([full_df, temp_df], axis = 0, ignore_index = True)

Considering X0
Considering X1
Considering X2
Considering X3

In [10]:
full_df.shape

(1598520, 4)

In [11]:
full_df.head()

  left right  value link_type
0    0   692    0.0         0
1    0   693    0.0         0
2    0   694    0.0         0
3    0   695    0.0         0
4    0   696    0.0         0

In [12]:
full_df.tail()

        left right  value link_type
1598515  691  1721    0.0         3
1598516  691  1722    0.0         3
1598517  691  1723    0.0         3
1598518  691  1724    0.0         3
1598519  691  1725    0.0         3

In [13]:
full_df.iloc[8]

left           0
right        700
value          0
link_type      0
Name: 8, dtype: object

#### Link file generation

The link.dat.test file is of the format left_node_id, right_node_id, link_value. It has both positive and negative links, and is used to train and test the SVM classifier in the downstream link prediction task.

The link.dat file is of the format left_node_id, right_node_id, link_type, link_value. It is made up of only positive links, i.e link_value is 1. This file is used to learn the embeddings of all the entities in the graph.

In [14]:
np.random.seed(rng)
target_matrix_R_ent_count = eval(f"X{target_matrix_index}.shape[0]")
target_matrix_C_ent_count = eval(f"X{target_matrix_index}.shape[1]")
sample = np.random.choice(target_matrix_R_ent_count * target_matrix_C_ent_count, int(0.2 * target_matrix_R_ent_count * target_matrix_C_ent_count) , replace = False) # sample 20 % of the data

In [15]:
offset = 0
for i in range(target_matrix_index):
    offset += eval(f"X{i}.shape[0] * X{i}.shape[1]")
print(f"Offset for samples is {offset}")

Offset for samples is 1324488

In [16]:
sample = sample + offset

In [17]:
sample

array([1561341, 1504313, 1422938, ..., 1463079, 1325791, 1443634])

In [18]:
test_data = full_df.iloc[sample]

In [19]:
orig_test_data_size = test_data.shape[0]

In [20]:
# Find all entries that are zeros in the test df
zero_test_data = pd.DataFrame(test_data.groupby("left").sum()["value"]).reset_index()
zero_test_data = zero_test_data[zero_test_data["value"] == 0]

In [21]:
len(zero_test_data["left"].unique())

308

In [22]:
zero_test_data

     left  value
0       0    0.0
4       4    0.0
7       7    0.0
12     12    0.0
13     13    0.0
..    ...    ...
682   682    0.0
684   684    0.0
685   685    0.0
687   687    0.0
690   690    0.0

[308 rows x 2 columns]

In [23]:
node1_offset = 0
v = entity_mapping[f"X{target_matrix_index}"]
for m in matrices_seen:
    if v[0] == m:
        break
    else:
        node1_offset += eval(f"{m}_size")

In [24]:
node1_offset

0

In [25]:
node2_offset = 0
v = entity_mapping[f"X{target_matrix_index}"]
for m in matrices_seen:
    if v[1] == m:
        break
    else:
        node2_offset += eval(f"{m}_size")

In [26]:
node2_offset

1330

In [27]:
for i in list(zero_test_data["left"].unique()):
    x = eval(f"X{target_matrix_index}[{int(i) - node1_offset},:]")
    print(i)
    non_zeros = np.where(x != 0)[0]
    print(non_zeros)            
    node_1 = int(i)
    try:
        node_2 = float(random.choice(non_zeros)) + node2_offset
        print(f"Node 1: {node_1}, Node 2: {node_2}")
        print(f"sample val = {int((node_1 - node1_offset) * target_matrix_R_ent_count) + int(node_2 - node2_offset) + offset}")
        value_added = eval(f"X{target_matrix_index}[{int(i) - node1_offset}][{node_2 - node2_offset}]")
        test_data = test_data.append({"left": node_1, "right": node_2, "value": value_added, "link_type": target_matrix_index}, ignore_index = True)
        sample = np.append(sample, int((node_1 - node1_offset) * target_matrix_R_ent_count) + int(node_2 - node2_offset) + offset)
    except:
        print(f"Cannot find a non zero entry for {node_1}")

0
[283 335 388]
Node 1: 0, Node 2: 1718.0
sample val = 1324876
Cannot find a non zero entry for 0
4
[]
Cannot find a non zero entry for 4
7
[ 76  95 103 388]
Node 1: 7, Node 2: 1406.0
sample val = 1329408
Cannot find a non zero entry for 7
12
[388]
Node 1: 12, Node 2: 1718.0
sample val = 1333180
Cannot find a non zero entry for 12
13
[ 22  58  59 219 335 388]
Node 1: 13, Node 2: 1718.0
sample val = 1333872
Cannot find a non zero entry for 13
17
[]
Cannot find a non zero entry for 17
18
[388]
Node 1: 18, Node 2: 1718.0
sample val = 1337332
Cannot find a non zero entry for 18
19
[]
Cannot find a non zero entry for 19
21
[ 58  59 219 388]
Node 1: 21, Node 2: 1389.0
sample val = 1339079
Cannot find a non zero entry for 21
23
[109 283 327 363 388]
Node 1: 23, Node 2: 1613.0
sample val = 1340687
Cannot find a non zero entry for 23
29
[142 219 335 388]
Node 1: 29, Node 2: 1549.0
sample val = 1344775
Cannot find a non zero entry for 29
31
[219]
Node 1: 31, Node 2: 1549.0
sample val = 1346159
Cannot find a non zero entry for 31
33
[335 388]
Node 1: 33, Node 2: 1665.0
sample val = 1347659
Cannot find a non zero entry for 33
35
[335]
Node 1: 35, Node 2: 1665.0
sample val = 1349043
Cannot find a non zero entry for 35
38
[ 22 388]
Node 1: 38, Node 2: 1352.0
sample val = 1350806
Cannot find a non zero entry for 38
40
[]
Cannot find a non zero entry for 40
43
[335 343]
Node 1: 43, Node 2: 1665.0
sample val = 1354579
Cannot find a non zero entry for 43
46
[]
Cannot find a non zero entry for 46
47
[388]
Node 1: 47, Node 2: 1718.0
sample val = 1357400
Cannot find a non zero entry for 47
48
[388]
Node 1: 48, Node 2: 1718.0
sample val = 1358092
Cannot find a non zero entry for 48
50
[ 58 388]
Node 1: 50, Node 2: 1388.0
sample val = 1359146
Cannot find a non zero entry for 50
55
[388]
Node 1: 55, Node 2: 1718.0
sample val = 1362936
Cannot find a non zero entry for 55
59
[335]
Node 1: 59, Node 2: 1665.0
sample val = 1365651
Cannot find a non zero entry for 59
60
[]
Cannot find a non zero entry for 60
61
[ 15  21 109 129 148 236 343 363 376]
Node 1: 61, Node 2: 1706.0
sample val = 1367076
Cannot find a non zero entry for 61
65
[ 52 236 255 348 388]
Node 1: 65, Node 2: 1678.0
sample val = 1369816
Cannot find a non zero entry for 65
66
[]
Cannot find a non zero entry for 66
68
[388]
Node 1: 68, Node 2: 1718.0
sample val = 1371932
Cannot find a non zero entry for 68
70
[335]
Node 1: 70, Node 2: 1665.0
sample val = 1373263
Cannot find a non zero entry for 70
72
[343 388]
Node 1: 72, Node 2: 1718.0
sample val = 1374700
Cannot find a non zero entry for 72
77
[ 58 219 388]
Node 1: 77, Node 2: 1388.0
sample val = 1377830
Cannot find a non zero entry for 77
80
[343 388]
Node 1: 80, Node 2: 1673.0
sample val = 1380191
Cannot find a non zero entry for 80
83
[]
Cannot find a non zero entry for 83
84
[ 54 109 147 343 363 376]
Node 1: 84, Node 2: 1706.0
sample val = 1382992
Cannot find a non zero entry for 84
88
[335]
Node 1: 88, Node 2: 1665.0
sample val = 1385719
Cannot find a non zero entry for 88
90
[388]
Node 1: 90, Node 2: 1718.0
sample val = 1387156
Cannot find a non zero entry for 90
91
[262 388]
Node 1: 91, Node 2: 1718.0
sample val = 1387848
Cannot find a non zero entry for 91
93
[ 22 109 343]
Node 1: 93, Node 2: 1352.0
sample val = 1388866
Cannot find a non zero entry for 93
95
[343 388]
Node 1: 95, Node 2: 1673.0
sample val = 1390571
Cannot find a non zero entry for 95
97
[ 59 388]
Node 1: 97, Node 2: 1718.0
sample val = 1392000
Cannot find a non zero entry for 97
101
[343]
Node 1: 101, Node 2: 1673.0
sample val = 1394723
Cannot find a non zero entry for 101
102
[ 30 255 272 343 388]
Node 1: 102, Node 2: 1360.0
sample val = 1395102
Cannot find a non zero entry for 102
104
[]
Cannot find a non zero entry for 104
106
[  0 388]
Node 1: 106, Node 2: 1718.0
sample val = 1398228
Cannot find a non zero entry for 106
110
[388]
Node 1: 110, Node 2: 1718.0
sample val = 1400996
Cannot find a non zero entry for 110
112
[58 59]
Node 1: 112, Node 2: 1389.0
sample val = 1402051
Cannot find a non zero entry for 112
118
[336 388]
Node 1: 118, Node 2: 1718.0
sample val = 1406532
Cannot find a non zero entry for 118
119
[219 336 388]
Node 1: 119, Node 2: 1718.0
sample val = 1407224
Cannot find a non zero entry for 119
124
[]
Cannot find a non zero entry for 124
125
[ 58 335 388]
Node 1: 125, Node 2: 1665.0
sample val = 1411323
Cannot find a non zero entry for 125
126
[]
Cannot find a non zero entry for 126
129
[147 388]
Node 1: 129, Node 2: 1477.0
sample val = 1413903
Cannot find a non zero entry for 129
130
[388]
Node 1: 130, Node 2: 1718.0
sample val = 1414836
Cannot find a non zero entry for 130
133
[]
Cannot find a non zero entry for 133
134
[]
Cannot find a non zero entry for 134
135
[109 147 388]
Node 1: 135, Node 2: 1718.0
sample val = 1418296
Cannot find a non zero entry for 135
136
[335]
Node 1: 136, Node 2: 1665.0
sample val = 1418935
Cannot find a non zero entry for 136
140
[128 255 308 346]
Node 1: 140, Node 2: 1676.0
sample val = 1421714
Cannot find a non zero entry for 140
142
[]
Cannot find a non zero entry for 142
144
[219]
Node 1: 144, Node 2: 1549.0
sample val = 1424355
Cannot find a non zero entry for 144
149
[28]
Node 1: 149, Node 2: 1358.0
sample val = 1427624
Cannot find a non zero entry for 149
151
[343 388]
Node 1: 151, Node 2: 1718.0
sample val = 1429368
Cannot find a non zero entry for 151
153
[]
Cannot find a non zero entry for 153
154
[ 22 236 376 388]
Node 1: 154, Node 2: 1566.0
sample val = 1431292
Cannot find a non zero entry for 154
155
[335 388]
Node 1: 155, Node 2: 1665.0
sample val = 1432083
Cannot find a non zero entry for 155
160
[]
Cannot find a non zero entry for 160
163
[]
Cannot find a non zero entry for 163
166
[388]
Node 1: 166, Node 2: 1718.0
sample val = 1439748
Cannot find a non zero entry for 166
167
[388]
Node 1: 167, Node 2: 1718.0
sample val = 1440440
Cannot find a non zero entry for 167
170
[]
Cannot find a non zero entry for 170
172
[388]
Node 1: 172, Node 2: 1718.0
sample val = 1443900
Cannot find a non zero entry for 172
173
[147 343]
Node 1: 173, Node 2: 1477.0
sample val = 1444351
Cannot find a non zero entry for 173
174
[ 22 104 109 283]
Node 1: 174, Node 2: 1434.0
sample val = 1445000
Cannot find a non zero entry for 174
175
[388]
Node 1: 175, Node 2: 1718.0
sample val = 1445976
Cannot find a non zero entry for 175
176
[ 63 109 219 335]
Node 1: 176, Node 2: 1665.0
sample val = 1446615
Cannot find a non zero entry for 176
177
[272 388]
Node 1: 177, Node 2: 1718.0
sample val = 1447360
Cannot find a non zero entry for 177
179
[ 52 388]
Node 1: 179, Node 2: 1718.0
sample val = 1448744
Cannot find a non zero entry for 179
184
[]
Cannot find a non zero entry for 184
185
[]
Cannot find a non zero entry for 185
187
[]
Cannot find a non zero entry for 187
193
[147 171 343]
Node 1: 193, Node 2: 1673.0
sample val = 1458387
Cannot find a non zero entry for 193
194
[ 58 336 388]
Node 1: 194, Node 2: 1666.0
sample val = 1459072
Cannot find a non zero entry for 194
195
[]
Cannot find a non zero entry for 195
197
[388]
Node 1: 197, Node 2: 1718.0
sample val = 1461200
Cannot find a non zero entry for 197
200
[]
Cannot find a non zero entry for 200
202
[388]
Node 1: 202, Node 2: 1718.0
sample val = 1464660
Cannot find a non zero entry for 202
206
[ 58 132]
Node 1: 206, Node 2: 1462.0
sample val = 1467172
Cannot find a non zero entry for 206
207
[ 22 169]
Node 1: 207, Node 2: 1352.0
sample val = 1467754
Cannot find a non zero entry for 207
210
[]
Cannot find a non zero entry for 210
211
[ 58 335 388]
Node 1: 211, Node 2: 1718.0
sample val = 1470888
Cannot find a non zero entry for 211
214
[ 52 343 376 388]
Node 1: 214, Node 2: 1706.0
sample val = 1472952
Cannot find a non zero entry for 214
216
[171]
Node 1: 216, Node 2: 1501.0
sample val = 1474131
Cannot find a non zero entry for 216
217
[343]
Node 1: 217, Node 2: 1673.0
sample val = 1474995
Cannot find a non zero entry for 217
218
[203]
Node 1: 218, Node 2: 1533.0
sample val = 1475547
Cannot find a non zero entry for 218
222
[]
Cannot find a non zero entry for 222
223
[ 58 104 219 236 343 376 388]
Node 1: 223, Node 2: 1434.0
sample val = 1478908
Cannot find a non zero entry for 223
225
[ 59 335 388]
Node 1: 225, Node 2: 1665.0
sample val = 1480523
Cannot find a non zero entry for 225
228
[]
Cannot find a non zero entry for 228
229
[]
Cannot find a non zero entry for 229
230
[388]
Node 1: 230, Node 2: 1718.0
sample val = 1484036
Cannot find a non zero entry for 230
235
[ 22 388]
Node 1: 235, Node 2: 1718.0
sample val = 1487496
Cannot find a non zero entry for 235
237
[219]
Node 1: 237, Node 2: 1549.0
sample val = 1488711
Cannot find a non zero entry for 237
241
[151 262 336 378 388]
Node 1: 241, Node 2: 1666.0
sample val = 1491596
Cannot find a non zero entry for 241
243
[63]
Node 1: 243, Node 2: 1393.0
sample val = 1492707
Cannot find a non zero entry for 243
245
[ 58 102 108 219 343]
Node 1: 245, Node 2: 1432.0
sample val = 1494130
Cannot find a non zero entry for 245
246
[ 22  59 388]
Node 1: 246, Node 2: 1352.0
sample val = 1494742
Cannot find a non zero entry for 246
247
[63]
Node 1: 247, Node 2: 1393.0
sample val = 1495475
Cannot find a non zero entry for 247
249
[]
Cannot find a non zero entry for 249
255
[ 59 142 243]
Node 1: 255, Node 2: 1472.0
sample val = 1501090
Cannot find a non zero entry for 255
258
[ 22 286 336 343 388]
Node 1: 258, Node 2: 1666.0
sample val = 1503360
Cannot find a non zero entry for 258
260
[219]
Node 1: 260, Node 2: 1549.0
sample val = 1504627
Cannot find a non zero entry for 260
261
[335 388]
Node 1: 261, Node 2: 1665.0
sample val = 1505435
Cannot find a non zero entry for 261
262
[388]
Node 1: 262, Node 2: 1718.0
sample val = 1506180
Cannot find a non zero entry for 262
264
[  6 228]
Node 1: 264, Node 2: 1336.0
sample val = 1507182
Cannot find a non zero entry for 264
266
[  0  36 283 343 346 388]
Node 1: 266, Node 2: 1718.0
sample val = 1508948
Cannot find a non zero entry for 266
267
[]
Cannot find a non zero entry for 267
268
[]
Cannot find a non zero entry for 268
269
[219]
Node 1: 269, Node 2: 1549.0
sample val = 1510855
Cannot find a non zero entry for 269
270
[]
Cannot find a non zero entry for 270
271
[104 142 219 283 335 388]
Node 1: 271, Node 2: 1613.0
sample val = 1512303
Cannot find a non zero entry for 271
272
[  0 101 346]
Node 1: 272, Node 2: 1676.0
sample val = 1513058
Cannot find a non zero entry for 272
273
[272 388]
Node 1: 273, Node 2: 1718.0
sample val = 1513792
Cannot find a non zero entry for 273
276
[58 59]
Node 1: 276, Node 2: 1388.0
sample val = 1515538
Cannot find a non zero entry for 276
278
[388]
Node 1: 278, Node 2: 1718.0
sample val = 1517252
Cannot find a non zero entry for 278
279
[]
Cannot find a non zero entry for 279
281
[]
Cannot find a non zero entry for 281
284
[]
Cannot find a non zero entry for 284
293
[ 63 219 335]
Node 1: 293, Node 2: 1393.0
sample val = 1527307
Cannot find a non zero entry for 293
294
[]
Cannot find a non zero entry for 294
296
[ 21 147 246 272 335 343 376 388]
Node 1: 296, Node 2: 1602.0
sample val = 1529592
Cannot find a non zero entry for 296
299
[]
Cannot find a non zero entry for 299
300
[ 59 388]
Node 1: 300, Node 2: 1718.0
sample val = 1532476
Cannot find a non zero entry for 300
302
[255 388]
Node 1: 302, Node 2: 1718.0
sample val = 1533860
Cannot find a non zero entry for 302
303
[335 388]
Node 1: 303, Node 2: 1718.0
sample val = 1534552
Cannot find a non zero entry for 303
305
[ 52 255 336 388]
Node 1: 305, Node 2: 1666.0
sample val = 1535884
Cannot find a non zero entry for 305
306
[343]
Node 1: 306, Node 2: 1673.0
sample val = 1536583
Cannot find a non zero entry for 306
314
[246 336 343 388]
Node 1: 314, Node 2: 1666.0
sample val = 1542112
Cannot find a non zero entry for 314
315
[]
Cannot find a non zero entry for 315
316
[219 264 283 353 356 388]
Node 1: 316, Node 2: 1686.0
sample val = 1543516
Cannot find a non zero entry for 316
318
[236 388]
Node 1: 318, Node 2: 1718.0
sample val = 1544932
Cannot find a non zero entry for 318
320
[335]
Node 1: 320, Node 2: 1665.0
sample val = 1546263
Cannot find a non zero entry for 320
322
[283 330 388]
Node 1: 322, Node 2: 1613.0
sample val = 1547595
Cannot find a non zero entry for 322
323
[388]
Node 1: 323, Node 2: 1718.0
sample val = 1548392
Cannot find a non zero entry for 323
324
[142 147 219 243 335 343 388]
Node 1: 324, Node 2: 1477.0
sample val = 1548843
Cannot find a non zero entry for 324
328
[]
Cannot find a non zero entry for 328
329
[ 22 388]
Node 1: 329, Node 2: 1352.0
sample val = 1552178
Cannot find a non zero entry for 329
331
[]
Cannot find a non zero entry for 331
339
[236 388]
Node 1: 339, Node 2: 1718.0
sample val = 1559464
Cannot find a non zero entry for 339
340
[]
Cannot find a non zero entry for 340
342
[109]
Node 1: 342, Node 2: 1439.0
sample val = 1561261
Cannot find a non zero entry for 342
345
[388]
Node 1: 345, Node 2: 1718.0
sample val = 1563616
Cannot find a non zero entry for 345
347
[  0 336 388]
Node 1: 347, Node 2: 1666.0
sample val = 1564948
Cannot find a non zero entry for 347
348
[  0 128 326]
Node 1: 348, Node 2: 1656.0
sample val = 1565630
Cannot find a non zero entry for 348
349
[104 169]
Node 1: 349, Node 2: 1499.0
sample val = 1566165
Cannot find a non zero entry for 349
351
[115 343]
Node 1: 351, Node 2: 1673.0
sample val = 1567723
Cannot find a non zero entry for 351
352
[ 42 219 236 283 343]
Node 1: 352, Node 2: 1673.0
sample val = 1568415
Cannot find a non zero entry for 352
355
[219 388]
Node 1: 355, Node 2: 1549.0
sample val = 1570367
Cannot find a non zero entry for 355
358
[388]
Node 1: 358, Node 2: 1718.0
sample val = 1572612
Cannot find a non zero entry for 358
361
[335 343]
Node 1: 361, Node 2: 1673.0
sample val = 1574643
Cannot find a non zero entry for 361
367
[243]
Node 1: 367, Node 2: 1573.0
sample val = 1578695
Cannot find a non zero entry for 367
369
[ 19 246 388]
Node 1: 369, Node 2: 1349.0
sample val = 1579855
Cannot find a non zero entry for 369
370
[236 335 388]
Node 1: 370, Node 2: 1665.0
sample val = 1580863
Cannot find a non zero entry for 370
373
[388]
Node 1: 373, Node 2: 1718.0
sample val = 1582992
Cannot find a non zero entry for 373
374
[388]
Node 1: 374, Node 2: 1718.0
sample val = 1583684
Cannot find a non zero entry for 374
378
[ 58 335 388]
Node 1: 378, Node 2: 1665.0
sample val = 1586399
Cannot find a non zero entry for 378
379
[]
Cannot find a non zero entry for 379
383
[]
Cannot find a non zero entry for 383
384
[219]
Node 1: 384, Node 2: 1549.0
sample val = 1590435
Cannot find a non zero entry for 384
385
[ 52 102 246 272 336 388]
Node 1: 385, Node 2: 1718.0
sample val = 1591296
Cannot find a non zero entry for 385
386
[]
Cannot find a non zero entry for 386
388
[104]
Node 1: 388, Node 2: 1434.0
sample val = 1593088
Cannot find a non zero entry for 388
389
[388]
Node 1: 389, Node 2: 1718.0
sample val = 1594064
Cannot find a non zero entry for 389
390
[104 219 388]
Node 1: 390, Node 2: 1718.0
sample val = 1594756
Cannot find a non zero entry for 390
393
[  0  58 101 147 219 290 308 335 336 343 346 376]
Node 1: 393, Node 2: 1388.0
sample val = 1596502
Cannot find a non zero entry for 393
395
[376]
Node 1: 395, Node 2: 1706.0
sample val = 1598204
Cannot find a non zero entry for 395
403
[219]
Node 1: 403, Node 2: 1549.0
sample val = 1603583
Cannot find a non zero entry for 403
407
[ 58  59 219 335 388]
Node 1: 407, Node 2: 1389.0
sample val = 1606191
Cannot find a non zero entry for 407
409
[388]
Node 1: 409, Node 2: 1718.0
sample val = 1607904
Cannot find a non zero entry for 409
414
[ 58 388]
Node 1: 414, Node 2: 1388.0
sample val = 1611034
Cannot find a non zero entry for 414
415
[]
Cannot find a non zero entry for 415
417
[]
Cannot find a non zero entry for 417
418
[109 283 326 388]
Node 1: 418, Node 2: 1439.0
sample val = 1613853
Cannot find a non zero entry for 418
420
[388]
Node 1: 420, Node 2: 1718.0
sample val = 1615516
Cannot find a non zero entry for 420
421
[343]
Node 1: 421, Node 2: 1673.0
sample val = 1616163
Cannot find a non zero entry for 421
424
[109 125]
Node 1: 424, Node 2: 1439.0
sample val = 1618005
Cannot find a non zero entry for 424
427
[228]
Node 1: 427, Node 2: 1558.0
sample val = 1620200
Cannot find a non zero entry for 427
428
[58]
Node 1: 428, Node 2: 1388.0
sample val = 1620722
Cannot find a non zero entry for 428
429
[371 388]
Node 1: 429, Node 2: 1718.0
sample val = 1621744
Cannot find a non zero entry for 429
430
[388]
Node 1: 430, Node 2: 1718.0
sample val = 1622436
Cannot find a non zero entry for 430
431
[ 58 219]
Node 1: 431, Node 2: 1388.0
sample val = 1622798
Cannot find a non zero entry for 431
432
[388]
Node 1: 432, Node 2: 1718.0
sample val = 1623820
Cannot find a non zero entry for 432
435
[ 22  52 178 388]
Node 1: 435, Node 2: 1352.0
sample val = 1625530
Cannot find a non zero entry for 435
437
[388]
Node 1: 437, Node 2: 1718.0
sample val = 1627280
Cannot find a non zero entry for 437
438
[346]
Node 1: 438, Node 2: 1676.0
sample val = 1627930
Cannot find a non zero entry for 438
439
[ 58 388]
Node 1: 439, Node 2: 1388.0
sample val = 1628334
Cannot find a non zero entry for 439
440
[388]
Node 1: 440, Node 2: 1718.0
sample val = 1629356
Cannot find a non zero entry for 440
441
[255]
Node 1: 441, Node 2: 1585.0
sample val = 1629915
Cannot find a non zero entry for 441
442
[388]
Node 1: 442, Node 2: 1718.0
sample val = 1630740
Cannot find a non zero entry for 442
443
[388]
Node 1: 443, Node 2: 1718.0
sample val = 1631432
Cannot find a non zero entry for 443
446
[388]
Node 1: 446, Node 2: 1718.0
sample val = 1633508
Cannot find a non zero entry for 446
447
[ 22  52  58 120 188 336 388]
Node 1: 447, Node 2: 1518.0
sample val = 1634000
Cannot find a non zero entry for 447
449
[]
Cannot find a non zero entry for 449
452
[ 35  58 129 388]
Node 1: 452, Node 2: 1718.0
sample val = 1637660
Cannot find a non zero entry for 452
453
[219 243]
Node 1: 453, Node 2: 1549.0
sample val = 1638183
Cannot find a non zero entry for 453
457
[]
Cannot find a non zero entry for 457
461
[ 22  58 125 128 236 311 388]
Node 1: 461, Node 2: 1566.0
sample val = 1643736
Cannot find a non zero entry for 461
463
[109 363 388]
Node 1: 463, Node 2: 1718.0
sample val = 1645272
Cannot find a non zero entry for 463
465
[109 219 255 336 388]
Node 1: 465, Node 2: 1549.0
sample val = 1646487
Cannot find a non zero entry for 465
466
[ 58 335 388]
Node 1: 466, Node 2: 1718.0
sample val = 1647348
Cannot find a non zero entry for 466
468
[154]
Node 1: 468, Node 2: 1484.0
sample val = 1648498
Cannot find a non zero entry for 468
470
[]
Cannot find a non zero entry for 470
471
[ 59 283 335 343 388]
Node 1: 471, Node 2: 1673.0
sample val = 1650763
Cannot find a non zero entry for 471
474
[ 58 388]
Node 1: 474, Node 2: 1718.0
sample val = 1652884
Cannot find a non zero entry for 474
475
[336 343 376 388]
Node 1: 475, Node 2: 1718.0
sample val = 1653576
Cannot find a non zero entry for 475
481
[109]
Node 1: 481, Node 2: 1439.0
sample val = 1657449
Cannot find a non zero entry for 481
483
[343 388]
Node 1: 483, Node 2: 1673.0
sample val = 1659067
Cannot find a non zero entry for 483
488
[ 58 219 343]
Node 1: 488, Node 2: 1388.0
sample val = 1662242
Cannot find a non zero entry for 488
491
[109 219 343 363 388]
Node 1: 491, Node 2: 1549.0
sample val = 1664479
Cannot find a non zero entry for 491
492
[108 335 388]
Node 1: 492, Node 2: 1438.0
sample val = 1665060
Cannot find a non zero entry for 492
494
[ 42 335 388]
Node 1: 494, Node 2: 1665.0
sample val = 1666671
Cannot find a non zero entry for 494
496
[388]
Node 1: 496, Node 2: 1718.0
sample val = 1668108
Cannot find a non zero entry for 496
501
[ 58  59 104 388]
Node 1: 501, Node 2: 1389.0
sample val = 1671239
Cannot find a non zero entry for 501
503
[59]
Node 1: 503, Node 2: 1389.0
sample val = 1672623
Cannot find a non zero entry for 503
509
[]
Cannot find a non zero entry for 509
512
[ 42  59 147 335 343 376 388]
Node 1: 512, Node 2: 1372.0
sample val = 1678834

In [28]:
sample[orig_test_data_size:]

array([], dtype=int64)

In [29]:
# test_data["value"] = test_data["value"].apply(lambda x: x if x != 0 else 0) # convert value to indicate only presence/absence of link

In [30]:
test_data = test_data[~test_data["value"].isna()]

In [31]:
test_data.head()

        left right  value link_type
1561341  598  1375    0.0         3
1504313  454  1371    0.0         3
1422938  248  1572    0.0         3
1324809    0  1651    0.0         3
1509994  468  1508    0.0         3

In [32]:
test_data.shape[0]

54806

In [33]:
test_data_np = test_data.to_numpy()

In [34]:
print(f"Percentage of ones in test data = {np.count_nonzero(test_data_np[:,2])/test_data_np.shape[0]}")
print(f"Percentage of zeros in test data = {1-(np.count_nonzero(test_data_np[:,2])/test_data_np.shape[0])}")

Percentage of ones in test data = 0.014031310440462724
Percentage of zeros in test data = 0.9859686895595373

In [35]:
# Create link.dat.test
link_file_for_lp = open(sampled_link_test_file, "w+") # Same test file will be used by HIN2Vec and other algorithms too

number_of_pairs = 0
for i in range(test_data_np.shape[0]):
        number_of_pairs += 1
        link_file_for_lp.write(str(int(test_data_np[i][0])) + "\t" + str(int(test_data_np[i][1])) + "\t" + str(int(test_data_np[i][2])) + "\n")
            
link_file_for_lp.close()

In [36]:
full_df.drop(sample, inplace = True, axis = 0)

In [37]:
full_df.shape

(1543714, 4)

In [38]:
# Create link.dat file
emb_df = full_df[full_df["value"] != 0]
emb_df["value"] = emb_df["value"]
emb_df["left"] = emb_df["left"].astype(int)
emb_df["right"] = emb_df["right"].astype(int)
emb_df["link_type"] = emb_df["link_type"].astype(int)
emb_df = emb_df[["left", "right", "link_type", "value"]]
emb_df.head()

/home/ajayago/anaconda3/envs/ncmf/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/ajayago/anaconda3/envs/ncmf/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/ajayago/anaconda3/envs/ncmf/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/ajayago/anaconda3/envs/ncmf/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     left  right  link_type  value
30      0    722          0    1.0
143     0    835          0    1.0
282     0    974          0    1.0
374     0   1066          0    1.0
376     0   1068          0    1.0

In [39]:
emb_df.to_csv(sampled_link_file, sep="\t", header=False, index=False)

#### Label files generation

The label.dat file has the following format: node_id, node_name, node_type, node_label.

The file label.dat.test has the following format: node_id, node_name, node_type, node_label

In [40]:
entity_file = data_folder + "entity_oncokb.csv"

In [41]:
entity_df = pd.read_csv(entity_file)

In [42]:
entity_df.head()

  Entity Names
0   ACH-000001
1   ACH-000002
2   ACH-000004
3   ACH-000006
4   ACH-000007

In [43]:
entity_df.shape

(1726, 1)

In [44]:
matrices_seen # this is the list of entities in the dataset

['E0', 'E1', 'E2']

In [45]:
if "Entity labels" in entity_df.columns:
    isNodeLabelSeparate = True
    print("Node labels are different from node types")
else:
    isNodeLabelSeparate = False
    print("Node labels are the same as node types")

Node labels are the same as node types

In [46]:
count = 0
node_type = []
node_label = []
for entity in matrices_seen:
    print(f"Entity {entity}")
    entity_size = eval(f"{entity}_size")
    node_type_val = int(entity[1:])
    node_type.extend([node_type_val] * entity_size)
    if not isNodeLabelSeparate:
        node_label.extend([node_type_val] * entity_size)
    count += entity_size
    
entity_df["Node label"] = node_label if not isNodeLabelSeparate else list(entity_df["Entity Labels"])
entity_df["Node type"] = node_type

Entity E0
Entity E1
Entity E2

In [47]:
entity_df.head()

  Entity Names  Node label  Node type
0   ACH-000001           0          0
1   ACH-000002           0          0
2   ACH-000004           0          0
3   ACH-000006           0          0
4   ACH-000007           0          0

In [48]:
entity_df.tail()

     Entity Names  Node label  Node type
1721        ZG-10           2          2
1722   ZIBOTENTAN           2          2
1723    ZM-447439           2          2
1724  ZOLEDRONATE           2          2
1725     ZSTK-474           2          2

In [49]:
test_labels_df = entity_df.sample(frac = 0.2, replace = False, random_state = rng)
test_labels_df = test_labels_df[["Entity Names", "Node type", "Node label"]]
test_labels_df.head()

      Entity Names  Node type  Node label
599     ACH-000962          0           0
932          HDAC4          1           1
628     ACH-001106          0           0
1533  LESTAURTINIB          2           2
1261         SUZ12          1           1

In [50]:
test_labels_df.shape

(345, 3)

In [51]:
remaining_labels_df = entity_df.drop(test_labels_df.index)
remaining_labels_df = remaining_labels_df[["Entity Names", "Node type", "Node label"]]
remaining_labels_df.head()

  Entity Names  Node type  Node label
0   ACH-000001          0           0
1   ACH-000002          0           0
2   ACH-000004          0           0
3   ACH-000006          0           0
4   ACH-000007          0           0

In [52]:
remaining_labels_df.shape

(1381, 3)

In [53]:
test_labels_df.to_csv(sampled_label_test_file, sep = "\t", header = False)

In [54]:
remaining_labels_df.to_csv(sampled_label_file, sep = "\t", header = False)

#### Node file generation

Node file node.dat is of the format node id, node_name, node_type.

In [55]:
entity_df[["Entity Names", "Node type"]].to_csv(sampled_node_file, sep = "\t", header = False)

#### Meta file generation
This file is of the format

Node Total: Count <total number of entities>
Node Type_0: Count <E0_size>
...
Edge Total: Count <total number of links>
Edge Type_0: Count <number of positive links in E0>
...
Label Total: Count <total number of node label types>
Label Class_0_Total: Count <total number of nodes in E0>
Label Class_0_Type_0: Count <total number of nodes in E0 of label 0>
...

In [56]:
# Getting node counts
node_values = list(entity_df.groupby("Node type").count()["Entity Names"])
print(node_values)

[692, 638, 396]

In [57]:
# Getting link counts
emb_count = list(emb_df.groupby("link_type").count()["value"])
test_count = list(test_data[test_data["value"] != 0].groupby("link_type").count()['value'])[0]
emb_count[target_matrix_index] += test_count
print(emb_count)

[19982, 212779, 441496, 3834]

In [58]:
# Getting label counts
entity_df.groupby(["Node type", "Node label"]).count()

                      Entity Names
Node type Node label
0         0                    692
1         1                    638
2         2                    396

In [59]:
label_counts = entity_df.groupby(['Node type','Node label']).count().apply(list).to_dict()
print(label_counts)

{'Entity Names': {(0, 0): 692, (1, 1): 638, (2, 2): 396}}

In [60]:
meta_file_writer = open(sampled_meta_file, "w+")

meta_file_writer.write(f"Node Total: Count {sum(node_values)}" + "\n")
for i in range(len(node_values)):
    meta_file_writer.write(f"Node Type_{i}: Count {node_values[i]}" + "\n")
meta_file_writer.write(f"Edge Total: Count {sum(emb_count)}" + "\n")
for i in range(len(emb_count)):
    meta_file_writer.write(f"Edge Type_{i}: Count {emb_count[i]}" + "\n")
meta_file_writer.write(f"Label Total: Count {sum(label_counts['Entity Names'].values())}" + "\n")

for i in range(len(node_values)):
    meta_file_writer.write(f"Label Class_{i}_Total: Count {node_values[i]}" + "\n")
    for k in sorted(label_counts["Entity Names"]):
        if k[0] == i:
            meta_file_writer.write(f"Label Class_{k[0]}_Type_{k[1]}: Count {label_counts['Entity Names'][k]}" + "\n")
        
meta_file_writer.close()

#### Info file generation

Info file is of the format

node.dat

TYPE    MEANING

0       DRUG

1       PROTEIN

-----------------------------------------------

link.dat

LINK    START   END     MEANING

0       0       0       DRUG-and-DRUG

1       0       1       DRUG-and-PROTEIN

2       1       1       PROTEIN-and-PROTEIN

-----------------------------------------------

label.dat

TYPE    CLASS   MEANING

0       0       DRUG

1       1       PROTEIN

In [61]:
info_file_writer = open(sampled_info_file, "w+")

info_file_writer.write("node.dat\n")
info_file_writer.write("TYPE\tMEANING\n")
for k, v in entity_name_mapping.items():
    info_file_writer.write(f"{k[1:]}"+"\t"+f"{v}"+"\n")

info_file_writer.write("\n-----------------------------------------------\n")

info_file_writer.write("link.dat\n")
info_file_writer.write("LINK\tSTART\tEND\tMEANING\n")
for k,v in entity_mapping.items():
    info_file_writer.write(f"{k[1:]}" + "\t" + f"{v[0][1:]}" + "\t" + f"{v[1][1:]}" + "\t" + f"{entity_name_mapping[f'E{int(v[0][1:])}']}" + "-and-" + f"{entity_name_mapping[f'E{int(v[1][1:])}']}" + "\n")

info_file_writer.write("\n-----------------------------------------------\n")
info_file_writer.write("label.dat\n")
info_file_writer.write("TYPE\tCLASS\tMEANING\n")
for i in range(len(node_values)):
    for k in sorted(label_counts["Entity Names"]):
        if k[0] == i:
            info_file_writer.write(f"{i}" + "\t" + f"{k[1]}" + "\t" + f"{entity_name_mapping[f'E{int(k[1])}']}" + "\n")

info_file_writer.close()